{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="container d-flex justify-content-end w-100">
  <div class="text-end text-secondary small">
    <p class="mb-0">
      &copy; {% now "Y" %} {% trans "Task Manager" %} |
      {% trans "Made by" %}
      <a href="https://github.com/nyanyapushkina"
         class="link-light text-decoration-none opacity-hover"
         target="_blank" 
         rel="noopener noreferrer"
         aria-label="{% trans 'Arina Khoklova GitHub profile' %}">
         Arina Khoklova
      </a>
    </p>
  </div>
</div>