{% load i18n %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="{% url 'index' %}">{% trans "Task Manager" %}</a>
    
    <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:index' %}">{% trans "Users" %}</a>
        </li>
        
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'statuses:index' %}">{% trans "Statuses" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'labels:index' %}">{% trans "Labels" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks:index' %}">{% trans "Tasks" %}</a>
          </li>
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="nav-link btn btn-link p-0 border-0">
                {% trans "Log Out" %}
              </button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">{% trans "Log In" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:create' %}">{% trans "Sign Up" %}</a>
          </li>
        {% endif %}
      </ul>
      
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <div class="btn-group">
          <button type="submit" name="language" value="ru"
                  class="btn btn-sm btn-outline-light {% if LANGUAGE_CODE == 'ru' %}active{% endif %}">
            RU
          </button>
          <button type="submit" name="language" value="en"
                  class="btn btn-sm btn-outline-light {% if LANGUAGE_CODE == 'en' %}active{% endif %}">
            EN
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>