{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% trans "Task Manager Hexlet" %}{% endblock %}</title>
    <meta name="description" content="Forth project for Hexlet.io">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ms-3">
        <a class="navbar-brand" href="/">{% trans "Task Manager" %}</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <ul class="navbar-nav mr-auto">
                {% block nav_items %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users' %}">{% trans "Users" %}</a>
                </li>
                {% endblock %}
            </ul>
            <ul class="navbar-nav">
                {% block auth_items %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/statuses/">{% trans "Statuses" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/labels/">{% trans "Labels" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tasks/">{% trans "Tasks" %}</a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout/" method="post">
                            {% csrf_token %}
                            <input class="btn nav-link" type="submit" value="{% trans 'Logout' %}">
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_create' %}">{% trans "Registration" %}</a>
                    </li>
                {% endif %}
                {% endblock %}
            </ul>
        </div>
    </nav>

    <div class="container wrapper flex-grow-1">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="container my-5 pt-4 border-top">
            <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
        </div>
    </footer>
</body>
</html>
