{% extends "includes/base_form.html" %}
{% load i18n %}

{% block form_title %}{{ title }}{% endblock %}
{% block form_heading %}{{ title }}{% endblock %}
{% block form_button %}{{ button_name }}{% endblock %}

{% block bottom_text %}
  {% with is_create_view=request.resolver_match.url_name == 'user_сreate' %}
    {% if is_create_view %}
    <div class="text-center mt-4">
      <small class="text-light text-opacity-50">
        {% trans "Already have an account?" %}
        <a href="{% url 'login' %}" class="text-reset text-decoration-none">
          {% trans "Log In" context "button" %}
        </a>
      </small>
    </div>
    {% endif %}
  {% endwith %}
{% endblock %}