{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Labels" %}{% endblock %}
{% block main_classes %}container py-5{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{% trans "Delete label" %}</h1>
    
    <div class="card my-4">
        <div class="card-body">
            <h5 class="card-title">{% trans "Are you sure you want to delete" %} "{{ label.name }}"?</h5>
            
            {% if label.tasks.all %}
                <div class="alert alert-danger mt-3">
                    {% trans "This label is used in tasks and cannot be deleted!" %}
                    <ul class="mt-2">
                        {% for task in label.tasks.all %}
                            <li>{{ task.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    
    <form method="post">
        {% csrf_token %}
        
        {% if not label.tasks.all %}
            <button type="submit" class="btn btn-danger">{% trans "Yes, delete" %}</button>
        {% endif %}
        <a href="{% url 'labels:list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    </form>
</div>
{% endblock %}