{% extends 'base/layout.html' %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">{% trans "Registration" %}</h1>
  
  <div class="card">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
          <label for="id_username" class="form-label">{% trans "Username" %}</label>
          {{ form.username }}
          <div class="form-text">
            {% trans "Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only." %}
          </div>
        </div>
        
        <div class="mb-3">
          <label for="id_first_name" class="form-label">{% trans "First name" %}</label>
          {{ form.first_name }}
        </div>
        
        <div class="mb-3">
          <label for="id_last_name" class="form-label">{% trans "Last name" %}</label>
          {{ form.last_name }}
        </div>
        
        <div class="mb-3">
          <label for="id_password1" class="form-label">{% trans "Password" %}</label>
          {{ form.password1 }}
          <div class="form-text">
            <ul>
              <li>{% trans "Your password must contain at least 3 characters." %}</li>
            </ul>
          </div>
        </div>
        
        <div class="mb-3">
          <label for="id_password2" class="form-label">{% trans "Password confirmation" %}</label>
          {{ form.password2 }}
          <div class="form-text">
            {% trans "Enter the same password as before, for verification." %}
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}